<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Pokeindex</title>
</head>
<body>

    <form method="POST" class="form-container">

        <h1>Check Weather</h1>

        <div class="form-group">
            <label for="city-name">Enter name of City</label>
            <input type="text" class="form-control" id="city-name" aria-describedby="emailHelp" placeholder="Enter City name"
              name="city-name" required>
            <input type="submit" value="Submit">
            
          </div>



    </form>
    
    
</body>
</html>