<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Pokeindex</title>
</head>
<body>

    <form method="POST" class="form-container">

        <h1>Enter Name of Pokemon</h1>

        <div class="form-group">
            <label for="Poke-name">Enter name of pokemon</label>
            <input type="text" class="form-control" id="Poke-name" aria-describedby="emailHelp" placeholder="Enter pokemon name"
              name="Poke-name" required>
            <input type="submit" value="Submit">
            
          </div>



    </form>
    
    
</body>
</html>